@font-face {
  font-family: 'ITC Korinna LT Regular';
  src: url('https://cdn.shopify.com/s/files/1/2126/0063/files/ITC_Korinna_LT_Regular.otf?v=1754407684') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ITC Korinna LT Bold';
  src: url('https://cdn.shopify.com/s/files/1/2126/0063/files/ITC_Korinna_LT_Bold.otf?v=1754407684') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'ITC Korinna Regular';
  src: url('https://cdn.shopify.com/s/files/1/2126/0063/files/ITC_Korinna_Regular.otf?v=1754407684') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ITC Korinna Bold 2';
  src: url('https://cdn.shopify.com/s/files/1/2126/0063/files/ITC_Korinna_Bold.otf?v=1754407684') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Korinna Normal';
  src: url('https://cdn.shopify.com/s/files/1/2126/0063/files/ITC__Korinna_Normal.ttf?v=1754407684') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ITC Korinna Bold';
  src: url('https://cdn.shopify.com/s/files/1/2126/0063/files/ITC__Korinna_Bold.ttf?v=1754407684') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'ITC Korinna Std Kursiv';
  src: url('https://cdn.shopify.com/s/files/1/2126/0063/files/ITC_Korinna_Std_Kursiv.otf?v=1754407684') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'ITC Korinna Std Bold';
  src: url('https://cdn.shopify.com/s/files/1/2126/0063/files/ITC_Korinna_Std_Bold.otf?v=1754407684') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ITC Korinna Std Heavy';
  src: url('https://cdn.shopify.com/s/files/1/2126/0063/files/ITC_Korinna_Std_Heavy.otf?v=1754407684') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}